* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #F3F6F7;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main {
    max-width: 100%;
    max-height: 100%;
}

header {
    display: flex;
    gap: 40px;

}

header img {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

header aside {
    background-color: #E4E1DD;
    border: #88A2AA 4px dotted;
    padding: 40px;
    border-radius: 20px;
}

#intro {
    color: #52707A;
    font-size: 40px;
    text-transform: uppercase; 
    letter-spacing: 3px;
    padding-bottom: 10px;

    text-shadow:     
        0 1px 0 hsl(174,5%,80%),
        0 2px 0 hsl(174,5%,75%),
        0 3px 0 hsl(174,5%,70%),
        0 4px 0 hsl(174,5%,66%),
        /*0 5px 0 hsl(174,5%,64%),
        0 6px 0 hsl(174,5%,62%),
        0 7px 0 hsl(174,5%,61%),
        0 8px 0 hsl(174,5%,60%),*/

        /*0 0 5px rgba(0,0,0,.05),
        0 1px 3px rgba(0,0,0,.2),*/
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.2),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.3);

}

header aside h2 {
    padding-bottom: 20px;
}

header aside p {
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}

nav {
    width: 100%;
    margin: 20px 20px;
}

/*nav, nav ul {
    text-align: left;
    line-height: 1;
}

nav a {
    display: block;
    width: 130px;
}*/

/*all list items floated up and towards the left*/

nav ul {
    display: block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer; /*changes cursor to a pointer even if text is not a link (good for dropdown menus */
}

nav ul li {
    position: relative;
    float: left;
    padding: 15px 10px ;
}

/*nav ul li a {
    display: block;
    text-decoration: none;
}*/

nav ul li:hover {
    background: rebeccapurple;
    color: #F3F6F7;
}

nav #dropdown {
    display: inline-block;
    width: 150px; /*sets submenu width*/
}

nav #dropdown ul{
    position: absolute;
    
}

nav #dropdown ul a:hover {
    display: block;
    
}

/*ul li ul li:hover {
    background: #52707A;
    position: absolute;
    display: block;
    top: 80px;
    color: white;

     /*moves submenu from way offscreen to its proper location on screen
}*/

/*ul li ul li a{
    background: white;
    color: white;
    text-decoration: none;
    padding: 12px 16px;
}*/

#projects, #work {
    padding-top: 60px;
    padding-bottom: 60px;
}

#projectheader, #workheader {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

#schools {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border: black solid 2px;
}

#education {
    display: flex;
    gap: 60px;
    justify-content: center;
}


footer {
    padding-top: 40px;
}

footer h2 {
    padding-bottom: 20px;
}


/*footer ul li a {
    display: flex;
    justify-content: space-evenly;
}*/